// some compass and custom helpers for starting out
@import "_global-config.scss";

// Animations
// --
@include keyframes(robotBreathing) {
    0% {
        @include transform(scale(0.6));
    }
    50% {
        @include transform(scale(0.8));
    }
    100% {
        @include transform(scale(0.6));
    }
}

@include keyframes(pointerBreathing) {
    0% {
        @include transform(scale(0.4));
    }
    50% {
        @include transform(scale(0.6));
    }
    100% {
        @include transform(scale(0.4));
    }
}


// Variables
// --
$grid-size : 17px;
$world-size : $grid-size * 15;


// Styling
// --
.content{
    @include position(relative, block, 100%);
}

.world-grid{
    @include position(relative, block, $world-size, $world-size);
    margin : ($grid-size / 2) auto;

    background-color : #fff;
    @include box-shadow(
        0px 0px 3px rgba(#000, 0.08),
        0px 0px 30px rgba(#000, 0.05)
    );
    border : 1px solid #ddd;
    @include border-radius(2px);

    .robot{
        z-index : 1;
        @include isAnimated;
        @include position(relative, block, $grid-size, $grid-size);
        @include border-box;
        top  : $world-size - $grid-size;
        left : 0;

        &:before{
            z-index : 1;
            @include position(absolute, block, 100%, 100%);
            @include border-box;
            @include transform(scale(0.6));
            content : ' ';
            background-color : #555;
            @include border-radius(50px);
        }

        &.is-breathing{
            &:before{
                @include animation(
                    robotBreathing $ease-out-quint 5s infinite
                );
            } 
            .pointer:before{
                @include animation(
                    pointerBreathing $ease-in-out-quint 5s infinite
                );
            } 
        }        

        .pointer{
            z-index : 2;
            @include position(relative, block, $grid-size / 2, $grid-size / 2);
            @include border-box;
            @include transition(transform, 0.5s $ease-in-out-quint);
            
            &:before{
                @include position(absolute, block, 100%, 100%);
                top  : ($grid-size / 2) * 0.4;
                left : ($grid-size / 2) * 0.4;
                @include transform(scale(0.6));
                content : ' ';
                background-color : #eee;
                @include border-radius(50px);
                border : 1px solid #666;
            }

            &.north{
                @include transform(translateY(-$grid-size) translateX(0));
            }

            &.east{
                @include transform(translateY(0) translateX($grid-size));
            }

            &.south{
                @include transform(translateY($grid-size) translateX(0));
            }

            &.west{
                @include transform(translateY(0) translateX(-$grid-size));
            }
        }
    }

    .command-input{
        $input-height : 30px;
        @include position(absolute, block, 96%);
        left : 2%;
        top  : 100%;
        padding-top : ($grid-size / 2);

        .current-input{
            z-index : 2;
            @include position(relative, block, 100%, $input-height);
            float : left;

            background-color : #fff;
            @include box-shadow(
                0px 0px 3px rgba(#000, 0.08),
                0px 0px 30px rgba(#000, 0.05)
            );
            border : 1px solid #ccc;

            $button-height : 2.5em;

            .button{
                z-index : 1;
                @include isButton;
                @include transform(scale(1));
                @include transition(transform, 0.1s $ease-in-out-quint);
                color : #fff;
                line-height : $button-height;
                text-align  : center;
                font-weight : bold;

                &:after{
                    z-index : -1;
                    @include position(absolute, block, 100%, 100%);
                    @include border-box;
                    top  : 0;
                    left : 0;
                    content : ' ';
                    background-color : #444;
                    border-left  : 1px solid #eee;
                    border-right : 1px solid #ccc;
                    border-bottom : 2px solid #aaa;
                    @include transform(scale(0.9));
                    @include transition(opacity, 0.1s $ease-in-out-quint);
                    @include border-radius(2px);
                }

                &:hover{
                    &:after{ @include opacity(0.8); }
                }

                &:active{
                    @include transform(scaleY(0.93) scaleX(0.96));
                    &:after{ @include opacity(1); }
                }

                &.green-dark{
                    &:after{
                        background-color : $green-dark;
                    }
                }

                &.blue-dark{
                    &:after{
                        background-color : $blue-dark;
                    }
                }

                &.blue-light{
                    &:after{
                        background-color : $blue-light;
                    }
                }

                &.is-active{
                    &:after{
                        background-color : $red-dark;
                    }
                }
            }

            .touch-keyboard{
                @include position(absolute, block, 100%);
                @include border-box;
                top   : 100%;
                right : 0px;
                margin-top : 0px;
                padding : 4px 2px;

                border : 1px solid #ccc;
                background-color : #fff;

                .instructions{
                    @include position(relative, block, 40%);
                    float : left;
                    @include border-box;
                    padding : 3px;

                    .forward, .left, .right{
                        @include position(relative, block, 33.333%);
                        float : left;
                        @include border-box;
                    }

                    .forward{
                        width : 100%;
                    }
                    .left, .right{
                        width : 50%;
                        line-height : $button-height * 1.6;
                    }
                }
                .numpad{
                    @include position(relative, block, 60%);
                    float : right;
                    @include border-box;
                    padding : 3px;

                    .position{
                        @include position(relative, block, 100%);
                        float : left;
                        padding-bottom : 5px;

                        .x, .y, .orientation{
                            @include position(relative, block, 100%);
                            float : left;
                            font-size : 0.7em;
                        }

                        .x, .y{
                            width : 50%;
                        }
                        .orientation{
                            width : 100%;
                        }
                    }
                    .numbers{
                        @include position(relative, block, 100%);
                        float : left;
                        .number{
                            @include position(relative, block, 33.333%);
                            float : left;
                            @include border-box;

                            &.nr0{
                                width : (33.333% * 2);
                            }
                        }
                    }
                }
            }
        }

        .history{
            z-index : 1;
            @include position(relative, block, 100%);
            float : left;

            .command{
                @include position(relative, block, 100%, $input-height);
                float : left;
                margin-top : 10px;

                background-color : #fff;
                border : 1px solid #eee;
                @include border-radius(2px);
            }

            .command + .command{
                border : 1px solid #fff;
            }
        }
    }
}